/*팀 소개 전체 div*/
#landing-introduce{
    display: flex;
    justify-content: center;
    align-items: center;
    animation:move-left-to-right-text 1s backwards ease-out;
}
/*팀 소개 아우터 */
#lading-introduce-outer{
    width:50vw;
    height:300px;
    display:flex;
    flex-direction: column ;
    justify-content: left;
    align-items: center;
    border : 1px solid #C5C0B8;
}
/*팀 소개 제목 */
#lading-introduce-title{
    border-bottom : 1px solid #C5C0B8;
    padding : 8px 0px;
    margin-bottom:10px;
    font-size:2.2vw;
}
/*팀 소개 내용 */
#lading-introduce-content{
    font-size:1.5vw;
}