.profile_image_container {
  position: relative;

  /* inline-block 으로 지정하면 컨텐츠만큼의 크기를 가지기 때문에 좌측정렬이 된다. 때문에 block 으로 지정해 가로 전체를 영역으로 지정한다. */
  /* 만약 상위 container (예: body) align이 center라면 inline-block 으로 지정해도 중앙 정렬이 된다.*/
  display: block;
  width: 20%;
  height: auto;
  margin: 50px auto 0 auto;
}

.profile_image_container > button {
  position: absolute;
  width: 30px;
  background-color: black;
  opacity: 0.4;
  height: 100%;
  border: none;
  color: white;
  transition: opacity 0.3s ease;
}

.profile_image_container > button:hover {
  opacity: 0.7;
}

.fade-out {
  opacity: 0;
  /* css 속성이 변경될때 애니메이션 속도를 조정함 */
  transition: opacity 0.5s ease;
}

a {
  margin-right: 5px;
  text-decoration: none;
}

a > img:hover {
  opacity: 0.8;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* #profile_image {
  opacity: 1;
  transition: opacity 1s;
}

#profile_image.fade {
  opacity: 0;
} */

#left_button {
  left: 0;
}

#right_button {
  right: 0;
}

.row {
  width: 40%;
  margin: 30px auto 0 auto;
}

.row > dt {
  text-align: right;
}

.icon {
  width: 22px;
  height: 22px;
}
