.outer {
    border: 6px solid white;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .inner-list {
    display: flex;
    transition: .3s ease-out;
    height: 100%;
  }
  
  .inner {
    border: 6px solid black;
    padding: 0 16px;
    width: 100%;
  }
  
  .button-list {
    text-align: center;
  }