.outer {
    border: 6px solid white;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .inner-list {
    display: flex;
    transition: .3s ease-out;
    height: 100%;
  }
  
  .inner {
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -15px;
    width: 100%;
  }


  .button-list {
    text-align: center;
    position: relative;
    top: 20px;
  }
  
  #btn{
    background-color: dodgerblue;
    border: 0px;
    font-size: 70px;
    color: white;
  }

  .button-left{
    position: relative;
    right: 100px;
  }

  .button-right{
    position: relative;
    left: 100px;
  }

  #title{
    text-align: center;
    font-size: 30px;
    background-color: aliceblue;
  }
  
body{
  background-color: dodgerblue;
  background-size: 100%;
}