#landing-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    animation:opacity-effect 3s ease-out backwards;
    animation-delay:3s;
}
#landing-todo-outer{
    width:50vw;
    height:auto;
    border-radius: 5%;
}
#landing-todo-title-box{
    display: flex;
    justify-content: center;
    width:100%;
    padding: 1% 0%;
    border:1px solid #C5C0B8;
}
#landing-todo-title-text{
    font-size:1.3vw;
}
#landing-todo-content-box{
    display: flex;
    flex-direction: column;
}
#landing-todo-read-content{
    display: flex;
    justify-content: space-between;
}
.landing-todo-content-list-item-box{
    margin-top:1vh;
    margin-bottom: 2vh;
}
.landing-todo-content-list-item{
    font-size:1vw;
}
#landing-todo-content-form{
    margin:5vh 0vh;
}
.landing-todo-content-button-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50vw;
    height:2.2vw;
    font-size:1vw;
}
#laning-todo-content-write-button{
    margin-bottom:1%;
}