@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Brush+Script&display=swap');

        * {

            font-family: "Dongle", sans-serif;
            font-weight: 200;
            font-style: normal;
        }

        .blogHeadLine {
            margin: 0 auto 0 auto;
            width: 300px;
        }

        .blogMale {
            margin: 10px auto 0 auto;
            width: 300px;
            /* background-color: red; */
            /* padding : 0 200px 0 200px; */
        }

        .blogImg {
            margin: 10px auto 10px auto;
            display: block;
        }

        .linkBox {
            margin: 0 auto 0 auto;
            width: 300px;
        }

        .study>button {
            width: 100px;
            height: 30px;
        }

        .btn {
            width: 50px;
            height: 30px;
        }

        .goal {
            background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbk9tQJ%2FbtsGET6yIDK%2FTVBZqSMKLUDhxNnorRajc0%2Fimg.jpg");
            background-position: bottom;
            background-size: cover;
            height: 350px;
        }

        .goalText {
            color: white;
        }

        .goalTextDiv {
            height: 350px;
            background-color: black;
            width: 35%;
        }

        .main {
            margin: 0 auto 0 auto;
            width: 500px;
        }

        .pShadow {
            text-shadow: 3px 2px 7px blue;
        }

        .headLine2 {
            color: magenta;
        }

        .headLine1 {
            color: green;
        }